
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink] = "['listado']"><img src="assets/img/logo.png" height="54px" alt="logotipo-supermercado-el-fuerte" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['listado']">Listado <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['formulario']">Formulario</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="Search">
      <input class="form-control mr-sm-2" type="text" placeholder="Usuario" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zona Privada</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>