<div class="container">
    

    <div class="row justify-content-center">
   
      <div class=" col-md-8 order-md-1">
        <h4 class="mb-3">Crear Casa</h4>
        <form class="form" [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control"  placeholder="" />
              <small *ngIf=" formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Minimo 2 Letras y Maximo 100 Letras.</small>
              <small *ngIf="formulario.controls.nombre.valid" class="form-text text-success" >Correcto</small>
 
            </div>
            <div class="col-md-6 mb-3">
              <label for="precio">Precio</label>
              <input type="text"  formControlName="precio"  class="form-control" placeholder="" />
              <small *ngIf=" formulario.controls.precio.invalid && formulario.controls.precio.touched" class="form-text text-danger">Minimo 2 Letras y Maximo 100 Letras.</small>
              <small *ngIf="formulario.controls.precio.valid" class="form-text text-success" >Correcto</small>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6 mb-3">
                <label for="habitaciones">Habitacion</label>
                <input type="number" formControlName="habitaciones" class="form-control"  placeholder=""  />
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="direccion">Direccion</label>
                  <input type="text" formControlName="direccion" class="form-control"  placeholder=""  />
                </div>
              </div>

          <div class="mb-3">
            <label for="foto">Foto: </label>
            <img src="{{formulario.controls.foto.value}}" alt="imagen destacada" class="/" />
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">URL</span>
              </div>
              <input type="text" class="form-control"  formControlName="foto"  placeholder="url imagen con extension png, jpg, jpeg"  />
              <small *ngIf="formulario.controls.foto.invalid && formulario.controls.foto.touched" class="form-text text-danger"> Que empieze por Https o Http y la imagen con extension png, jpg, jpeg.</small>
              <small *ngIf="formulario.controls.foto.valid" class="form-text text-success" >Correcto</small>  
            </div>
          </div>

        
          <hr class="mb-4">

          <h4 class="mb-3">Alquiler</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <label class="form-check-label" for="alquiler"> alquiler: </label>
                <input type="checkbox" formControlName="alquiler" class="from-control"/>
            </div>
          
          </div>

          
    

  
          <hr class="mb-4">
 
          <input type="submit" [disabled]="formulario.status==='INVALID'" *ngIf="inmobiliaria.id < 0" value="crear"  class="btn btn-success" />
        </form>
      </div>
    </div>
  </div>